<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzxie.study.eshopqueue.repository.OrderDAO">
    <sql id="baseColumns">
        uuid, user_id, cost, create_time
    </sql>
    <insert id="insert" parameterType="com.yzxie.study.eshopcommon.bo.OrderBO">
        insert into t_order (
            <include refid="baseColumns" />
        )
        values (#{uuid}, #{userId}, #{cost}, #{createTime})
    </insert>
</mapper>