<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzxie.study.eshopqueue.repository.ProductQuantityDAO">
    <update id="decrQuantity">
        update t_product_quantity set num=num-1 where product_id=#{productId}
    </update>
</mapper>